<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head> 
<body background=http://www.walldevil.com/wallpapers/a42/controller.jpg>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gaming Stripdown</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/fifa">Fifa 16</a></li>
      <li><a href="/league">League of Legends</a></li>
      <li><a href="/destiny">Destiny</a></li>
      <li><a href="/overwatch">Overwatch</a></li>
      <li><a href="/nba">NBA 2K</a></li>
      <li><a href="/forum">Comments</a></li>
      <li><a href="/tip">Duke TIP</a></li>
      <li class="active"><a href="/about">About the Creators</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
<h1 style="text-align:center;color:white">About Us</h1>
<p style="text-align:center;color:white">Gaming Stirpdown was a project website we made in Web Application Development at Trinity University during Duke TIP. We made it using HTML and Python.</p>
<div class="jumbotron">
  <h1 style="text-align:center">Eshaan</h1>
  <p style="text-align:center">Eshaan Tibrewala is going into 8th grade. He is from St.Louis. He lives with his parents and his younger brother. He enjoys playing basketball and reading. His favorite videogames are Fifa and NBA 2k.</p>
</div>
<br>
<br>
<div class="jumbotron">
  <h1 style="text-align:center">Aidan</h1>
  <p style="text-align:center">Aidan Myers is going into 9th grade. He is from Austin and lives with his parents and his dog. He enjoys swimming and playing videogames with freinds. His favorite videogames are Destiny and Overwatch.</p>
</div>
<br>
<br>
<div class="jumbotron">
  <h1 style="text-align:center">Dustin</h1>
  <p style="text-align:center">Dustin Ho is going into 8th grade. He is from Plano. He lives with his parents and his turtle. He enjoys playing videogames and doing homework. His favorite videogames are League of Legends and Overwatch.</p>
</div>
<h6>All the images on this website were found on the internet. This website is not using the images to sell any product.</h6>
</body>
</html>