<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head> 
<body background=http://www.walldevil.com/wallpapers/a42/controller.jpg>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gaming Stripdown</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/fifa">Fifa 16</a></li>
      <li><a href="/league">League of Legends</a></li>
      <li><a href="/destiny">Destiny</a></li>
      <li><a href="/overwatch">Overwatch</a></li>
      <li><a href="/nba">NBA 2K</a></li>
      <li><a href="/forum">Comments</a></li>
      <li><a href="/tip">Duke TIP</a></li>
      <li><a href="/about">About the Creators</a></li>
      <li class="active"><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</nav>
<h1 style="text-align:center;color:white">Contact Us</h1>
<p style="text-align:center;color:white">If you have questions, comments, or recomendations, you can contact any one us.</p> 
<a href="mailto:expertsummer328@gmail.com" type="button" class="btn btn-primary btn-lg btn-block">Email Aidan</a>
<br>
<a href="mailto:dustyho46@gmail.com" type="button" class="btn btn-primary btn-lg btn-block">Email Dustin</a>
<br>
<a href="mailto:eshaanpostup35@gmail.com" type="button" class="btn btn-primary btn-lg btn-block">Email Eshaan</a>
<h6>All the images on this website were found on the internet. This website is not using the images to sell any product.</h6>
</body>
</html>