<!DOCTYPE html>
<html>
<head>
<title>League of Legends</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body background =http://www.walldevil.com/wallpapers/a42/controller.jpg>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gaming Stripdown</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/fifa">Fifa 16</a></li>
      <li class="active"><a href="/league">League of Legends</a></li>
      <li><a href="/destiny">Destiny</a></li>
      <li><a href="/overwatch">Overwatch</a></li>
      <li><a href="/nba">NBA 2K</a></li>
      <li><a href="/forum">Comments</a></li>
      <li><a href="/tip">Duke TIP</a></li>
      <li><a href="/about">About the Creators</a></li>
      <li><a href="/contact">Contact Us</a></li>

    </ul>
  </div>
</nav>
<center><img src="https://upload.wikimedia.org/wikipedia/en/7/77/League_of_Legends_logo.png" width="502px" height="198" ></center>
<p style="text-align:center"><a href="http://na.leagueoflegends.com/" type="button" class="btn btn-danger btn-lg">Click here to visit League of Legends</a></p>
<body background="">
<div class="container">
  <div class="jumbotron">
    <p><p style="font-size:160%;text-align:center">League of legends is a team based MOBA where you and 5 team mates try to control turrets for control slay powerful monsters for buffs all while fighting the enemy team and often times your own toxic team.</p>
  </div>
</div>
<center><img src="http://i.imgur.com/HRgupVM.jpg" width="1500px" height="1500" ></center><br>
<div class="container">
  <div class="jumbotron">
    <p><p style="font-size:160%;text-align:center">The current meta of the game has a Support, a ADC, a Midlaner, a jungler , and a top laner and each makes a diffrence to the game.</p>
<center><img src="https://i.ytimg.com/vi/dwQqjLRtGT0/hqdefault.jpg" ></center>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
</body>
</html>