<!DOCTYPE html>
<html>
<head>
  <title>NBA 2k</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head> 
<body background=http://www.walldevil.com/wallpapers/a42/controller.jpg>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Gaming Stripdown</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/fifa">Fifa 16</a></li>
      <li><a href="/league">League of Legends</a></li>
      <li><a href="/destiny">Destiny</a></li>
      <li><a href="/overwatch">Overwatch</a></li>
      <li class="active"><a href="/nba">NBA 2K</a></li>
      <li><a href="/forum">Comments</a></li>
      <li><a href="/tip">Duke TIP</a></li>
      <li><a href="/about">About the Creators</a></li>
      <li><a href="/contact">Contact Us</a></li>


    </ul>
  </div>
</nav>
<div class="jumbotron">
  <h1 style="text-align:center">NBA 2k</h1>
  <p style="text-align:center">NBA 2k is another one of my favorite games. I like NBA 2k because I play basketball myself. There is only one mode that I like. It is MyCareer. It is similar to the carreer mode in Fifa. But you career starts from high school. You also get to be drafted on a team. Sadly, you rarely get drafted on your team of choice. Infact, the game doesn't even ask you. Plus it is a lot more intense. Even though that is my favorite mode, I ocassionally play season and GM mode because you get to play as any team. My favorite team on 2k are the Cleveland Caveliers.</p>
</div>
<img src="https://pbs.twimg.com/media/CnK18oqUkAAeHcl.jpg"></img>
<p style="color:white">NBA 2k 17 drops on September</p>
<img src=http://a.fssta.com/content/dam/fsdigital/fscom/Buzzer/Images/2016/04/12/kobe640.vadapt.664.high.5.jpg></img>
<iframe width="560" height="315" src="https://www.youtube.com/embed/WUId2cQa3TQ" frameborder="0" allowfullscreen></iframe>

</body>
</html>