<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="something.css"/>

<ul>
  <li><a class="active" href="/">Welcome Page</a></li>
  <li><a href="/creators">About the Creators</a></li>
  <li><a href="/duketip">Duke TIP</a></li>
  <li><a href="/jokes">Jokes</a></li>
  <li><a href="/game">Clicker Game</a></li>
  <li><a href="/forum">Fourms</a></li>
</ul>
<style>
 #page2 {
    position: absolute;
    margin: auto;
    margin-left: 700px;
    color: blue;
} marquee {
    color: #ff3333;
    font-size: 40px;
    scrollamount='20';  
}   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
</style>
</head>
<body>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body background="http://plasmator.net/wallpaper/Mandelbrot.png">
<style>
</style>
<div class="jumbotron text-center">
  <h1>About The Creators</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <b><ul style='color:White'><h3>Grant</h3></ul>
      <ul style='color:DeepPink'><p>Grant is a Texas native who loves gaming and programming.</p>
      <p>His favorite animal would be either a dog or a turtle.</p>
      <p>Grant seems to love the water, as he also likes seafood and his favorite sport is swimming.</p></ul>
    </div>
    <div class="col-sm-4">
      <ul style='color:White'><h3>Dylan</h3></ul>
      <ul style='color:DeepPink'><p>Dylan is also a Texas native, and he's really good at math.</p>
      <p>He plays the violin and piano and <i>lots</i> of video games.</p>
      <p>Dylan loves all sorts of food.</p></ul>
    </div>
    <div class="col-sm-4">
      <ul style='color:White'><h3>Becca</h3></ul>
      <ul style='color:DeepPink'><p>Becca is originally from Tennessee but now lives in Texas along with her website partners.</p>
      <p>She loves reading, writing, drawing, and painting.</p>
      <p> She loves the Harry Potter series, and her Hogwarts house is <font style='color:FireBrick'>G<font style='color:Gold'>R</font><font style='color:FireBrick'>Y</font><font style='color:Gold'>F</font><font style='color:FireBrick'>F</font><font style='color:Gold'>I</font><font style='color:FireBrick'>N</font><font style='color:Gold'>D</font><font style='color:FireBrick'>O</font><font style='color:Gold'>R</font> <p></b>
    </div>
  </div>
</div>

</body>
</html>

<center><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Contact Us:</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Contact Us</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact us at:</h4>
        </div>
        <div class="modal-body">
          <p>You can contact us at: dylan.nguyen0398@gmail.com or straightfromthepeacocksmouth@gmail.com to give us feedback.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
</center>