<!DOCTYPE html>
<html>
<body>
<head>
  <link type="text/css" rel="stylesheet" href="something.css"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<ul>
  <li><a class="active" href="/">Welcome Page</a></li>
  <li><a href="/creators">About the Creators</a></li>
  <li><a href="/duketip">Duke TIP</a></li>
  <li><a href="/jokes">Jokes</a></li>
  <li><a href="/game">Clicker Game</a></li>
  <li><a href="/forum">Fourms</a></li>

</ul>

<style>
 #page2 {
    position: absolute;
    margin: auto;
    margin-left: 700px;
    color: blue;
} marquee {
    color: #ff3333;
    font-size: 40px;
    scrollamount='20';  
}   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#centered {
	text-align:center;
}
</style>
<br>
<br>
<br>
</head>
<body background="http://plasmator.net/wallpaper/Mandelbrot.png">
<ul style= 'color:HotPink'>
<p><b><h1><center>Duke Tip</center></h1></b></p>
<p><b><h4><center>The <del>nerdiest</del> happiest place on earth.</center></h4></p></b>
<b><p id="centered"> Welcome to the Duke Tip page. Our class, Web Applications, was housed at Trinity University. It's a beautiful campus filled with fun and intelligent people.</p>
<p id="centered"> TIP stands for Talent Identification Program. Students at TIP have taken either the ACT os SAT and have been accepted into the esteemed program. Because of this application process, everyone at TIP has a love of learning.</p>
<p id="centered"> Trinity Campus, Term 2, 2016 has a lot of amazing classes available. The classes are: Modern Medicine, Mock Trial, Beyond Baker Street, BioChem, Speculative Fiction, Engineering, Math Problem Solving, Psychology, Algebra 2, and of course, Web Applications.</p>
<p id="centered"> Duke TIP has a big, wonderful staff. We have teachers to lead our classes, TAs to assist the teachers, RCs to keep all the campers in line, and a wonderful matinence and kitchen staff to help with the rest.</p>
<p id="centered"> Duke TIP is an amazing program and an amazing experience.</p>
<p id="centered"> Becca's favorite parts of TIP were spending time with her awesome RC Vanshika and RC group, making horrible puns with her roommate, and taking a lot of <del>creepy</del> totally normal photos of everyone for this website. </p>
<p id="centered"> Grant's favorite parts of TIP were the Web Applications class and making websites along with RC group night with his RC Josh.</p>
<p id="centered"> Dylan's favorite parts of TIP were RC group night and Web Applications. He really enjoyed spending time with his RC Aisha, as well as spending time with his <i> wonderful</i> class.</p></b>
<p> <h3> <center>And now, a slideshow of pictures:</center></h3></p></b>
<!DOCTYPE html>
<html lang="en">
<head>
<center>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
.carousel{width:640px;
       height:660px;}
  </style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/1.jpg">
    </div>

    <div class="item">
      <img src="images/3.jpg">
    </div>

    <div class="item">
      <img src="images/4.jpg">
    </div>

    <div class="item">
      <img src="images/5.jpg">
    </div>

    <div class="item">
      <img src="images/6.jpg">
    </div>

     <div class="item">
      <img src="images/7.jpg">
    </div>

     <div class="item">
      <img src="images/8.jpg">
    </div>

     <div class="item">
      <img src="images/9.jpg">
    </div>
  </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</center>
</body>
</html>

<b><p id="centered"> We are all so happy that we got to be a part of the wondeful experience that is TIP. </p>
<p id="centered"> We know that we have made life-long friends here at TIP, and we will miss this campus and this program very much. The song American Pie will always hold a place in our hearts.</p></b>
</ul>
<center><img src="https://pbs.twimg.com/profile_images/248296701/logo_noline_V_reverse_400x400.jpg" alt="https://pbs.twimg.com" width="400" height="400"></center>
</body>
</html>

