<!DOCTYPE html>
<html>
<body background="http://plasmator.net/wallpaper/Mandelbrot.png">
  <link type="text/css" rel="stylesheet" href="something.css"/>
<ul>
  <li><a class="active" href="/">Welcome Page</a></li>
  <li><a href="/creators">About the Creators</a></li>
  <li><a href="/duketip">Duke TIP</a></li>
  <li><a href="/jokes">Jokes</a></li>
  <li><a href="/game">Clicker Game</a></li>
  <li><a href="/forum">Forums</a></li>
</ul>

<head>

<style>
#white {
  color:white;
}
#page2 {
    position: absolute;
    margin: auto;
    margin-left: 700px;
    color: blue;
} marquee {
    color: #ff3333;
    font-size: 40px;
    scrollamount='20';  
}   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
</style>
</style>
</head>
<br>
<br>
<p><b><h1><center><ul style='color:White'> Hey guys! So here we have some <i> awesome</i> jokes for your enjoyment!</ul></center></h1><b></p>
<p id="white"> What happens to a frog's car if he parks it in the wrong space? It gets toad away!</p>
<p><ul style='color:White'>Why do you never see elephants hiding in trees? Because they're really good at it!</ul></p>
<p id="white"> Where does the General keep his armies? In his sleevies!</p>
<p><ul style='color:White'>Why aren't koalas actual bears? They didn't meet the koalafications!</ul></p>
<html>
<head>
<title>HTML marquee Tag</title>
</head>
<body>
<marquee><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Felix_Cat-Haha.svg/591px-Felix_Cat-Haha.svg.png" alt="https://upload.wikimedia.org" width="300" height="300">
</marquee>
</body>
</html>
<p id="white"> What's a foot long and slippery? A slipper!</p>
<p><ul style='color:White'>Two gold fish are in a tank. One looks at the other and says, "You know how to drive this thing?"</ul></p>
<p id="white">Two soldiers are in a tank. One looks at the other and says, "BLUB!"</p>
<p> <ul style='color:White'>As a scarecrow, people say I'm outstanding in my field. But hay, it's in my jeans.</ul></p>
<html>
<head>
<title>HTML marquee Tag</title>
</head>
<body>
<marquee><img src="https://pixabay.com/static/uploads/photo/2014/04/02/10/42/smiley-304294_960_720.png" alt="https://pixabay.com" width="300" height="300">
</marquee>
</body>
</html>
<p id="white"> I told my friend 10 jokes to make him laugh. Sadly, no pun in 10 did.</p>
<p><ul style='color:White'> I bought the world's worst thesaurus today. Not only was it terrible, but it was terrible!</ul></p>
<p id="white">What do you call a pile of kittens? A meowton!</p>
<p> <ul style='color:White'>Why can't you give Elsa a balloon? She'll let it go!</ul></p>

<html>
<head>
<title>HTML marquee Tag</title>
</head>
<body>
<marquee><img src="https://lh3.ggpht.com/2jkcwlUqVb1umC6gsFqEC33BGTh8jsRELRA_7qiQN8K6hriieMHMvns8dEc_-ambB9KmOszLFX_wDxbcuychPoR4pZE=s0" alt="https://lh3.ggpht.com" width="300" height="300">
</marquee>
</body>
</html>
<p id="white"> What do you call an elephant the doesn't matter? An irrelephant! </p>
<p> <ul style='color:White'>What is heavy forward but not backword? A ton! </ul></p>
<p id="white"> What do you call a three-footed aardvark? A yardvark! </p>
<p><ul style='color:White'> What do you call the Samsung security guards? Guardians of the Galaxy!</ul></p>
<html>
<head>
<title>HTML marquee Tag</title>
</head>
<body>
<marquee><img src="https://c1.staticflickr.com/5/4105/5016931339_1db5cc145d.jpg" alt="https://c1.staticflickr.com" width="300" height="300">
</marquee>
</body>
</html>
<p id="white"> What do you call a belt with a watch on it? A waste of time!</p>
<p><ul style='color:White'>What did the janitor say when he jumped out of the cloest? Supplies!</ul></p>
<p id="white"> <h2><b><i><ul style='color:MediumBlue'> <u>THE   FINAL   RIDDLE: </u></ul></i></b></h2></p>
<p><h2 id="white"> You're standing in a room with two doors. One door leads to your freedom, and the other leads to your immediate doom. One robot guards each of the doors. One robot will always tell the truth, and the other will always lie. You have one question to figure out which door to exit through, but you don't know which robot is which. What question should you ask?</h2></p>
<img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Question-mark-blackandwhite.png" alt="https://upload.wikimedia.org" width="300" height="300">
<p><h2 id="white"> CLICK TO SHOW ANSWER:</h2></p> 

<style>
.hidden{
    display:none;
}

.unhidden{
    display:block;
}
</style>
<script type="text/javascript">
function show(clickedButton, divID) {
var item = document.getElementById(divID);
if (item) {
    if(item.className=='hidden'){
        item.className = 'shown' ;
        clickedButton.value = 'hide'
    }else{
        item.className = 'hidden';
        clickedButton.value = 'show'
    }
}}

</script>

<body>
<div id="about" class="hidden">
<div class="content3">
<p><ul style='color:White'>Which door would the other robot tell me is the door to my freedom?</ul></p>
<p id="white"> Both the robot that tells you the truth and the robot that always lies will tell you the door that will lead to your doom. You can then choose the other door.</p>
</div>
</div>
<input type="button" onclick="show(this, 'about') " value="show">
</body>

</body>
</html>


<p><h1 id="white"><center><ul style= 'color:Navy'> And now for some optical illusions:</ul></center></h1></p>
<img src="http://www.illusions.org/samecolor1.JPG" alt="http://www.illusions.org" width="500" height="500">
<p> The two blocks are actually the same color. Try putting your finger over the line where the boxes touch.</p>
<img src="http://www.illusions.org/dp/files/1-2.gif" alt="http://www.illusions.org" width="500" height="500">
<p> Are the lines parallel or are they sloping?</p>
<img src="http://www.illusions.org/dp/files/1-53.jpg" alt="http://www.illusions.org" width="500" height="500">
<p> How many horses are there?</p>
<img src="http://www.illusions.org/dp/files/1-17.jpg" alt="http://www.illusions.org" width="500" height="500">
<p> Stare at the black dot. After a while, the gray around it starts to shrink. At least, it appears to shrink.</p>
<img src="http://www.illusions.org/dp/files/1-19.gif" alt="http://www.illusions.org" width="500" height="500">
<p> Star at the lightbulb for at least 30 seconds. Then, stare at a blank area such as a wall or a sheet of paper. You should see a glowing lightbulb.</p>
<img src="http://www.illusions.org/dp/files/1-58.jpg" alt="http://www.illusions.org" width="500" height="500">
<p> Can you find the nine people in this picture? </p>
<p><center><ul style= 'color:White'> Optical Illusions provided by: http://www.illusions.org</ul></center></p>


<h2><p id="white"><b><ul style= 'color: White'>And finally, if it's your birthday (and I know it's someone's somewhere):</ul></b></p></h2>
<img src="https://i.ytimg.com/vi/tomWNJfNRtA/maxresdefault.jpg" alt="https://i.ytimg.com" width="1000" height="500">