<!DOCTYPE html>
<head>
<style>
 #page2 {
    position: absolute;
    margin: auto;
    margin-left: 700px;
    color: blue;
} marquee {
    color: #ff3333;
    font-size: 40px;
    scrollamount='20';  
}   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
</style>
</head>	
<body>
<ul>
  <li><a class="active" href="/">Welcome Page</a></li>
  <li><a href="/creators">About the Creators</a></li>
  <li><a href="/duketip">Duke TIP</a></li>
  <li><a href="/jokes">Jokes</a></li>
  <li><a href="/game">Clicker Game</a></li>
  <li><a href="/forum">Forums</a></li>
</ul>
</body>

</head>
<link type="text/css" rel="stylesheet" href="css\stylesheet.css"/>
<br>
<br>
<body background="http://plasmator.net/wallpaper/Mandelbrot.png">

<h1 style= "font-size:400%;color:cyan;text-align:center;">Welcome to the Games and Jokes Website!</h1>
<p style="font-size:140%;color:white;text-align:center;"> This is the best website that you will ever visit that has games, jokes and a custom clicker game created by Grant! This website was made by Grant, Dylan and Becca.</p>
<br>
<br>
<center><img src = "https://tctechcrunch2011.files.wordpress.com/2015/08/safe_image.gif"></center>


 </body>
</html>
