<!doctype html>
<html>
<head>
<title>Pokemon Tips and Tricks</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
body {
position: relative;
}
#header {
	color:red;
	border-style:solid;
	border-width:5px;
	border-color:black; 
	align:center;
	text-align:center;
	background-color:#2554c7;
}
#table1 {
	border-style:solid;
	border-color:black;
	align:center;
	border-width:5px;
	border-collapse: collapse;
	width: 1500px;
}
table, th, td {
	border:1px solid black;
	border-collapse:collapse;
	border-width:5px;
	width: 1500px;
body {
position: relative;
}
</style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-color:#add8e6">
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">PokeSite</a>
</div>
<div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li class="dropdown"><a href="/">Home</a></li>
<li><a href="/store">Store</a></li>
<li><a href="/tips">Tips and Tricks</a></li>
<li><a href="/chat">Forum</a></li>
</li>
</ul>
</div>
</div>
</div>
</nav>
</style>
</body>
<div id="header">
	<h1 style="margin-top: 55px;">Tips and Tricks</h1>
</div>
<div id ="table1">
<table border="1" style="width:100%">
<tr>
<th><h2 style="color:#7537fb;text-align:center;">Type Matchups</h2></th>
<th><h2 style="color:#ee9a4d;text-align:center;">How to Use Rare Candies</h2></th>
</tr>
<tr>
<td><p style="font-size:125%;color:#7537fb">Remember to always use type matchups in battle.</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Pokemon_Type_Chart.svg/2000px-Pokemon_Type_Chart.svg.png" alt="Pokemon Type Matchup Chart" width="300" height="300"></td>

<td><p style="font-size:160%;color:#ee9a4d">If you think that rare candies are better than leveling up the normal way, then you are wrong to some extent. Before your Pokemon are around level 35 to 40, you should not use rare candies. Rare candies prohibit that Pokemon's effort values from growing. Effort values give certain stats a boost. Using rare candies will put your Pokemon at a disadvantage to others of the same level. It is not bad to use rare candies around level 35 to 40 because a Pokemon's effort values are maxed out by then.</p></td>
</tr>
</table>
</div>
<h2 style="color:#3ea055">Team Levels</h2>
<p style="color:#3ea055;font-size:160%">If you play Pokemon games by leveling only one Pokemon up and the rest of your team is weak, then this will help a lot. That strategy works but this method is much easier to win with. You will want to evenly level up your Pokemon so they are within a two to five level range. That way you can matchup against Pokemon using their type(s) and not have to always use the same Pokemon.</p>
<h2 style="color:yellow;text-align:right">How to Level up Weak Pokemon</h2>
<p style="color:yellow;font-size:160%;text-align:right">If you catch a new Pokemon and it is underleveled there are two things you can do to. You can use the EXP share or switch train it. Switch training is putting that weak Pokemon in the first slot of your party and when a battle starts you switch it out on the first turn. You Pokemon will gain experience without having to do anything.</p>               
<h2 style="color:#f52877">Trainer Battles</h2>
<p style="color:#f52877;font-size:170%">My advice for trainer battles is to do all of them. It might be a little tedious at times but it makes your Pokemon a lot stronger. It is okay if you skip a few but I recommend battling all of them. If you are playing a nuzlocke and don't want to be overleveled for the gym, battle trainers until your Pokemon are around the level limit for the next gym.</p>     
</html>
        