 #page2 {
    position: absolute;
    margin: auto;
    margin-left: 700px;
    color: blue;
} marquee {
    font-size: 40px;
    scrollamount='20';  
}   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
