<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="We have easy card tricks to learn, slight of hand, and merchandise." content="">
    <meta name="Caden McClure / Iñaki Romero / Regan Palazzesi / Qasim Monga" content="">

    <title>Four Horsemen Cards</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" bgcolor="#>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Featured Tricks</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/forum">Forums</a>
                    </li>
                    <li>
                        <a href="/merchandise">Merchandise</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Featured Tricks
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/sloppyshuffleimg.jpg" alt="">
                </a>

                  <div class="modal fade" id="myModal1" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4>Sloppy Shuffle</h4>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/CWxaLdrGIeA"></iframe>
                                      <h3>Steps to do the Sloppy Shuffle:</h3>

<li>The performer produces a normal deck of cards and spreads them for the audience. Asking a spectator to choose a card, the performer cuts the deck in half and asks that the card be placed on the top of the left handed half.</li>
<li>Before putting the right hand half on top, the performer raises the left hand and pushes the chosen card forward with the thumb, so that it peeks out and can be seen by the audience. “Did everyone get a good look at the card?” he can ask, or if it one person, “You are sure this is performer card?” </li>
<li>As the left hand comes down the tip of the little finger catches a break under the chosen card, so when the top half of the deck is replaced it will now be on the bottom of the top half. </li>
<li>The performer then cuts the cards at the break. This puts the chosen card on the bottom of the deck. It is fine to say “now we cut the cards” at this point as it is a good lead into the sloppy shuffle.</li>
<li>“Instead of doing a normal shuffle, I am now going to thoroughly mix up the cards, the performer says, and does the following: deal off a few cards into the right hand, turn the right hand over so that the small packet of cards is now face up; continue to deal off cards (face down).</li>
<li>Then turn the right hand over again; deal off a few more cards; repeat; turn over the left hand as well as the right and continue to deal off cards; repeat until one card is left - the chosen card. Make sure as performer both hands are face down and performer are dealing face down cards. As performer get to the last card just toss it on the top of the deck.</li>
<li>While the performer is doing the sloppy shuffle, he should be saying something to the equivalent of, “as performer can see I am mixing up the cards quite a bit. Faces to faces, backs to backs, thoroughly losing performer card in the mix.”</li>
<li>When replacing the top half on the bottom half, the performer ROTATES the top half, essentially putting all the cards back to a face down position.</li>
<li>The inverted chosen card masks this move. The trick is now done - the performer says a magic word and spreads the cards to show them all facing one direction, except for the inverted chosen card.</li>

                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal1">Sloppy Shuffle</a>
                </h3>
                <p>A visual stunner, the Sloppy Shuffle convinces the audience of one thing, while the magician is doing the opposite.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/twocardmonteimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Two Card Monte</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/Mm0EcpCkCi8"></iframe>
<li>Put a heart, spade, and a diamond at the top of the deck. Make sure that performer have the spade between the two and place this on top. Place a club on the bottom of the deck. For example, on top of the deck performer have an ace of hearts first, queen of spades second and ace of diamonds third. The bottom card of the deck is the queen of clubs. Now performer are ready!</li>
<li>Give this card to the spectator between his thumb and index finger (so it looks like he or she is pinching the card) face down.</li>
<li>Do a double lift and show the ace of diamonds and say, "Diamond." (To give performer some time to get a double lift ready, ask the spectator what card he has and to look at it to make sure it is ok.)</li>
<li>Place the diamond with the queen behind it on top of the deck and give the spectator the queen which he thinks is the diamond. Place this on top of the ace of hearts. Say, "I will teach performer the move in slow motion."</li>
<li>Put the queen on top take the heart from underneath, and turn it around to show the spectator and say, "See, I have the heart."</li>
<li>Shove the heart between the spectator's fingers fast. What performer are trying to do here is make the spectator believe that performer are switching the heart and the diamond. After performer shove it in and out performers hand goes to the top of the deck, releases the heart, and grabs the other queen from the bottom of the deck.</li>
<li>Put the queen on top of the other queen in spectator's hand and that is it. The most difficult part of this trick is the last switch. To make it easier, performer have to keep on talking. While performer are switching from the deck say, "Now, do performer bet the heart is on the top or bottom?"</li>
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal2">Two Card Monte</a>
                </h3>
                <p>Two-card Monte is a confidence game in which the victim is tricked into betting a sum of money, on the assumption that they can find the "money card" among the face-down playing cards.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/threecardmonteimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Three Card Monte</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/o2kO_5cNF5k"></iframe>
<li>Get 2 identical (if possible) cards and one different card</li>
<li>Slightly bend along the black lines (not along the white lines like I have done) so they are easier to pick up with performer fingers</li>
<li>Black cards = loser</li>
<li>Red cards = winner</li>
<li>Real throw = throw the cards without fooling the audience</li>
<li>Fake throw = throw the cards normally but fool the audience</li>
<li>Turn all cards upside down on the table top</li>
<li>Pick up a loser in performer left hand between performer thumb and performer first finger</li>
<li>And loser in performer right hand between performer thumb and performer second finger</li>
<li>Then pick up the winner in performer right hand between performer thumb and performer first finger </li>
<li>Pick all up at the centre crease</li>
<li>Step 4: dropping cards</li>
<li>To let the person performer fooling think they are good at this game, show the picked up cards to the audience. drop the winner in the right hand onto the table then drop the loser in the left hand onto the table, both face down! Then throw the last loser down on the table also face down. Throw all the cards in a row. Do this slowly so the person thinks the game is easy. They should know where the winner is and pick the right card</li>
<li>Do step NO 4 many times to make it look like the game is easy</li>
<li>Hold the cards normally. Show them to the audience and instead of dropping the winner on the table let the loser slide out between performer thumb and 2nd finger onto the table first (all in performer left hand). So now 1 card is on the table, people think it is a loser but it really the winner drop the rest of the cards normally this should be done quickly and effortlessly so the audience support nothing</li>
<li>Master the whole trick and fool people over and over again</li>
<li>If performer ever see somebody doing this trick but getting people to put money on what card they think is the winner stay well back</li>


                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal3">Three Card Monte</a>
                </h3>
                <p>This is like the Two-Card Monte, but more difficult to learn, and much more impressive.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/nameyourcardimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Name Your Card</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/DPkVTaOeaF8"></iframe>
<li>Shuffle the deck</li>
<li>Use bottom card as your key card</li>
<li>Ask your audience to pick a card</li>
<li>Split deck into three different decks, and ask audience to put their card into one of them</li>
<li>Collect the decks, and make sure your key card is on top of their card.</li>
<li>Flip over the next cards until you get your card. Then start a new pile and do the same and then start a that would have the same number of cards as the name of their card.</li>
<li>Collect all three in order left to right.</li>
<li>Ask them what their card is, and then ask them to spell it out.</li>
<li>For every letter they say, drop a card and then on the ‘s’ of ‘spade’ or ‘clubs’, etc. their card will be revealed.</li>

                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal4">Name Your Card</a>
                </h3>
                <p>This is a trick in which the magician will guess your card. This is an easy trick to impress your friends.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/biddletrickimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal5" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Biddle Trick</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/wNo5dXwW5hM"></iframe>
<li>Spread the cards, and have the spectator choose and memorize one.</li>
<li>Split the deck wherever the spectator pulled out her card, keeping the top packet spread out.</li>
<li>Extend the bottom packet towards the spectator, and ask her to place her card on top of it.</li>
<li>Place the top packet of cards on top of the spectator's card, but as you do, drop the bottom card of the top packet on top of the spectator's card, catch a pinky break above it, and then close the remainder of the spread. It should look like nothing out of the ordinary occurred. Dropping the bottom card of the top packet shouldn't be difficult because the top packet should be spread out before you place it on top of the spectator's card.</li>
<li>Perform a double undercut.</li>
<li>Split the deck into two halves, holding each half in a different hand.</li>
<li>Take the bottom half of the deck, and give it to the spectator, saying, "Your card is not in this half."</li>
<li>Tell the spectator that you think her card is one of the top five cards in the half you are holding.</li>
<li> Deal the top five cards of your packet face down into your other hand.</li>
<li>Turn the five cards face up as one, and place them on top of the packet you are holding.</li>
<li>Now, count the five face up cards into your free hand as you perform the Biddle move on the second card, loading it onto the bottom of the half of the deck you are holding. As you steal the second card (the spectator's card), memorize its suit and value.</li>
<li>Ask the spectator if she saw her card. When she says that she has, place the remaining half of the deck that you are holding on top of the half of the deck that the spectator is holding. This action should bury the spectator's card face up in the deck.</li>
<li>Take the four cards that you are holding, and turn them face down as one.</li>
<li>Now, deal the four cards into your free hand one at a time, performing the Biddle move on the second card. Count, "1, 2, 3, 4, and 5," out loud as you perform the move. The effect of this action is that you count the second card twice, making it look like you have five cards. Since you perform the counting face down, the spectator shouldn't suspect anything.</li>
<li>Now, announce the spectator's card (you memorized it earlier).</li>
<li>Pretend to palm the top card of the packet (in actuality, palm nothing).</li>
<li>Turn your palming hand face up to show that a card is invisibly palmed.</li>
<li>Make a throwing motion towards the deck in the spectator's hand.</li>
<li>Reveal that you are holding four cards now.</li>
<li>Ask the spectator to spread face up through the cards in her hand. She will find one face down card. It is her card</li>

                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal5">Biddle Trick</a>
                </h3>
                <p>A card is selected and lost in the deck. You remove five cards from the top of the pack - luckily, the spectator's selection is one of them. The spectator holds the rest of the pack throughout the trick.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/jackattackimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal6" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Jack Attack</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/11wm-ADyG5U"></iframe>
<li>Before the trick, remove the Jack of Clubs and the Jack of Spades. Place one on top of the deck and one on the bottom of the deck.</li>
<li>Perform a bottom retention overhand shuffle, but draw only the top and bottom card for the first part of the shuffle. The effect is that the two Jacks end up on the bottom of the deck after the shuffle.</li>
<li>Perform another bottom retention overhand shuffle, this time making sure to follow through with the shuffling until you are down the the last card, which you then drop on top. You should be left with a single Jack on top of the deck and a single Jack on the bottom of the deck.</li>
<li>Now pinch the deck between your thumb on the top and your fingers on the bottom.</li>
<li>Throw the deck to your other hand, retaining the top and bottom cards of the deck. You should be left with the Jacks in one hand and the deck in your other hand.</li>
<li>Turn the Jacks face up, and explain that you will need the two black Jacks for the trick.</li>
<li>Set the Jacks face up on the table.</li>
<li>Now, spread the cards, asking the spectator to select one. Split the deck at the spot where the spectator removes his card.</li>
<li>Ask the spectator to memorize his card.</li>
<li>Next, have the spectator replace his card on top of the bottom half of the deck.</li>
<li>Catch a pinky break above his card as you replace the top portion of the deck, burying his card in the center.</li>
<li>Control the spectator's card to the top of the deck using your favorite method.</li>
<li>Pick up the two Jacks from the table. As you pick up the Jacks, catch a pinky break below the top card (the spectator's card).</li>
<li>Place the two Jacks face up on top of the deck.</li>
<li>Lift up the packet of three cards from the deck in Biddle grip.</li>
<li> Deal the top card of the packet face up on top of the deck. You should now have a single Jack face up on top of the deck. You should also be holding a Jack face up in your hand, with the spectator's card hidden below it face down.</li>
<li>Place the packet of two cards, which you are holding as one, face up on top of the other Jack, but only cover half of it (injog the packet of two).</li>
<li>Now, slide the packet of two forward so that only the top Jack is visible.</li>
<li>Then, quickly slide just the top Jack backwards, leaving the spectator's card behind. It should look as if the bottom Jack disappeared.</li>
<li>Explain the the first Jack is looking for the spectator's card.</li>
<li>Now, perform a Herrmann pass with a wave of the hand, making the second Jack disappear.</li>
<li>Explain that now both Jacks are looking for the spectator's card.</li>
<li>Spread through the cards until you come to the two face up Jacks. The spectator's card should be face down between the Jacks. Have the spectator turn over the card.</li>
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal6">Jack Attack</a>
                </h3>
                <p>A cool trick in which the two red jacks find your card through the entire deck!</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/jokersguaranteeimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal7" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Joker's Guarantee</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/Hf5z-MzS9JE"></iframe>
                                      <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal7">Joker's Guarantee</a>
                </h3>
                <p> The spectator is asked to predict the position of the joker in a pack of cards and amazingly, predicts the correct position every time.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/aceassemblyimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal8" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Ace Assembly</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/oVQ3dpHqCeM"></iframe>
                                      <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal8">Ace Assembly</a>
                </h3>
                <p>Ace Assembly or Four Aces Trick is a classic plot in card magic in which the four aces, placed down on the table, magically assemble onto a "leader" ace.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a>
                    <img class="img-responsive" src="img/triumphimg.jpg" alt="">
                </a>
                <div class="modal fade" id="myModal9" role="dialog">
                        <div class="modal-dialog">
    
                          <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h3>Triumph</h3>
                                </div>
                                <div class="modal-body">
                                    <iframe style = "{text-align:center;}" allowfullscreen src="https://www.youtube.com/embed/QHuKJI2RypQ"></iframe>
                                      <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                        </div>
                  </div>
                <h3>
                    <a data-toggle="modal" data-target="#myModal9">Triumph</a>
                </h3>
                <p>Triumph has become the name for an effect wherein a deck of cards is mixed face-up and face-down, and are then magically righted, with the exception of a selected card.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- /.row -->

        <hr>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>