<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Jabr-About Us</title>
    <style>
        body {
            text-align: left;
            background-color: white;
        }
        
        .gray {
            padding: 5px;
            border-radius: 10px;
            background-color: rgba(79, 213, 255, .45);
            border: 3px solid rgba(79, 213, 255, .45);
        }
    </style>
</head>

<body style="text-align:left; background-color:white;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class= "navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/" target="_parent">Jabr</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/login">Login</a></li>
                    <li><a href="#">My profile <span class="sr-only">(current)</span></a></li>
                    <li><a href="/about" target="_parent">About Jabr</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="active">Chatrooms <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/roomA" target="_parent">Chatroom A</a></li>
                            <li><a href="/roomB" target="_parent">Chatroom B</a></li>
                            <li><a href="/roomC" target="_parent">Chatroom C</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search profiles">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="gray">
        <h1 style="text-align: center;">About Us</h1>
        <p class="gray">Hi! Our names are Aidan Benjamin, Jackson Cline, Scott Davis, and Arman Tavallaei, and we are the creators of Jabr.
            We all met in San Antonio, Texas, when we were going into 8th grade. We all met in a Web Applications Develpoment
            class that we all signed up for through Duke TIP. We are all from 4 different states, and we all came together
            to make this amazing website. Here is a little bit about each of us:</p>
        <p class="gray"> Jabr is a page that we made for our Web Applications Development class at Trinity University for Duke TIP. Our purpose
            for this is to create a website to allow people to talk with people all over the world in an environment where
            everybody can have fun and enjoy others. We want people to talk to whoever they want whenever they want without
            having to go and find a phone or pay for expensive international minutes. We want everybody to have good, clean
            fun on this website by talking to anybody they want. Have fun on Jabr!</p>

        <p class="gray"> Hey! My name is Aidan Benjamin, and I am from Sarasota, Florida. I like building things, and I code with javaScript.
            This is my first time with HTML and Python, and like the others, I'm in a coding class in Texas. I'm looking
            forward to making more websites, more will be coming later!</p>
        <p class="gray"> Hello! My name is Jackson Cline, and I am from Georgia. I am in middle school, and I learned computer programming
            through Duke TIP. This is one of my first websites, and I can't wait to make more. I have a younger brother anda
            younger sister, and I love to play sports. I play baseball, football, tennis, and basketball when I am not in
            school. When I am in school, I love to go to classes such as P.E. and science. That is just a little bit of information
            about me, and I hope that you have a lot of fun on Jabr!</p>
        <p class="gray"> Hi! My name is Scott Davis, and I am from St. Louis, Missouri. I love Heavy Metal music and can play the electric
            guitar. I play archery and riflery. If you live in Saint Louis and you like to shoot, check out "The Range".</p>

        <p class="gray">Hey, Arman here! I'm a dev for this website, which you are currently viewing, Jabr. Follow me on Twitter
            <a href="http://www.twitter.com/DomoThunderbolt" target="_blank">@DomoThunderbolt</a></p>
    </div>
    <hr style="border-color:black;">
</body>
<footer style="text-align:left;" class="gray">
    <h2>Contact Us</h2>
    <h4>Jabr Support:</h4>
    jabr.help@gmail.com <br> 1-800-532-JABR(In progress)
    <h5>Aidan Benjamin:</h5>
    messengeraj03@gmail.com

    <h5>Jackson Cline:</h5>
    wjacksoncline@gmail.com

    <h5>Scott Davis:</h5>
    spdavis2820@gmail.com

    <h5>Arman Tavallaei:</h5>
    tav.arman@gmail.com
</footer>