<!DOCTYPE html>
<html lang="en">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

</style>

</head>
<body>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/tips">Tips and Tricks</a></li>
  <li><a class="active" href="/duke_tip">DukeTip</a></li>
  <li><a href="/Game">Game</a></li>
  <li><a href="/forum">Forum</a></li>
</ul>
</ul>
<head>

  <title>Duke TIP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>
<center><h1>About Duke TIP</h1></center>
<center><a href="https://tip.duke.edu/">Click here for the Duke TIP page</a></center>
<center><p>Duke tip is a program that invites talented students to an intense, 3 week camp with various subjects and classes. After these classes, we have evening activies and free time. Sam is the best RC.
</p></center>
<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="images/IMG_2026.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Friends</h3>
          <p>A picture of my friend during an evening activity</p>
        </div>
      </div>

      <div class="item">
        <img src="images/IMG_2031.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Friends</h3>
          <p>A picture of my friends from class</p>
        </div>
      </div>
    
      <div class="item">
        <img src="images/0305603.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Duke TIP</h3>
          <p>The logo of duke tip</p>
        </div>
      </div>

      <div class="item">
        <img src="images/IMG_2024.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Friends</h3>
          <p>A picture of me</p>
        </div>
      </div>
    
      <div class="item">
        <img src="images/arrivalday.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Duke TIP</h3>
          <p>Arrival day at Duke Tip</p>
        </div>
      </div>

      <div class="item">
        <img src="images/IMG_5199.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Evening Activies</h3>
          <p>A picture of an evening activity,kickball</p>
        </div>
      </div>

      <div class="item">
        <img src="images/firstday.jpg" alt="ERROR" width="460" height="345">
        <div class="carousel-caption">
          <h3>Friends</h3>
          <p>A picture of my friends from class</p>
        </div>
      </div>
    
</div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</body>
</html>